@charset "UTF-8";
/*^Versão para Tablets*/
@media screen and (min-width:768px) and (max-width:992px){
    header{
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding:35px 0px ;
        margin-bottom: 100px;
    }
    header h2{
        position: relative;
        left: 20px;
        text-align: left;
        margin-bottom: 0px;
        font-size: 2.5em;
    }
    nav li{
        position: relative;
        left: -50px;
    } 
    nav a{
        display: flex;
        font-size: 1.3em;
    }
    #eu h2{
        font-size: 3.5em;
    }
    #eu img{
        width: 22%;
        margin-left: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.337);
    }
    #sobre-mim {
        padding-top: 150px;
    }
    #projetos iframe{
        width: 380px;
        height: 410px;
    }
    #projetos p{
        background-color: var(--cor03);
        color: var(--cor00);
        width: 280px;
        margin: auto;
        margin-top: 12px;
        border-radius: 10px;
        padding: 4px 0px;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.764);
        font-family: var(--fonte1);
        font-size: 1.5em;
    }
    #contatos{
        display: flex;
        justify-content: space-around;

    }
    #contatos a{
        font-size: 1.3em;
    }
    .redes a,.links a{
        color: black;
        margin: 3px 10px;
    }
    .links h2,.redes h2{
        font-size:1.7em;
    }
}

@media screen and (min-width:992px) {
    /*^Modelos para telas maiores*/
    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding:35px 0px ;
        margin-bottom: 100px;
    }
    header h2{
        position: relative;
        left: 40px;
        text-align: left;
        margin-bottom: 0px;
        font-size: 3.2em;
    }
    nav li{
        position: relative;
        left: -50px;
    } 
    nav a{
        display: flex;
        font-size: 1.4em;
    }
    #eu h2{
        font-size: 4em;
    }
    #eu img{
        width: 25%;
    }
    #sobre-mim p{
        font-size:1.2em;
        margin: 15px 300px 60px 5px;
        line-height: 1.3em;
    }
    #container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #projetos iframe {
        width: 350px;
        height: 350px;
        border: 1px solid rgba(0, 0, 0, 0.166);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.526);
        border-radius: 10px;
    }
    #contatos{
        display: flex;
        justify-content: start;
        padding-left: 17px;
    }
    .links{
        padding-left: 40px;
    }
}