@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}
:root{
    --fundo:#E5E4E4;
    --cor00:#ffffff;
    --cor01:#b0c9ee;
    --cor02:#528ddf;
    --cor03:#21549D;
    --cor04:#1b3f84;
    --fonte1:"Bebas Neue", sans-serif;
    
}
body,html{
    background-color: var(--fundo);
    height: 100vh;
    width: 100%;
}header{
    background-size: cover;
    background: url(../imagens/background.jpg) no-repeat center;
    align-items: center;
    padding:20px 0px 0px;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 50px;
}
header h2{
    color: var(--cor00);
    font-size: 2.4em;
    text-align: center;
    cursor: pointer;/*muda o cursor*/
    letter-spacing: 1px;/*espaçamento entre letras*/
    margin-bottom: 20px;
}
span{
    color: var(--cor03);
}
menu li{
    display: inline-block;
    list-style-type:none ; /* Remove o marcador de lista padrão */
    padding: 10px 5px;
} 
menu a{
    color: var(--cor00);
    text-decoration: none;
    font-weight: bold;
    display: block;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 3px;
    text-transform: capitalize;/* Transforma a primeira letra de cada palavra para maiúscula */
}
menu a:hover{
    background-color: var(--cor04);
    border-radius: 30px;
    transform: scale(1.2);
    transition:  0.3s;
    
}
main{
    width: 100%;
}


#eu{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin-bottom: 15px;
}
#eu h2{
    width: 45%;
    font-size: 35px;
    text-align: left;
    
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.262);
}
#eu img{
    width: 27%;
    border-radius: 50%;
    position: relative;
    left: -15px;
    margin-left: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.337);
}
#sobre-mim {
    width: 100%;
    padding-top: 75px;
    border-radius: 10px;
   
}
#sobre-mim h1{
    background-image: linear-gradient(to right, var(--cor03),var(--cor00));
    padding: 8px;
    color: var(--cor00);
    text-shadow:  1px 1px 1px black;
    font-size: 2em;
}
#sobre-mim p{
    text-align: justify;
    font-size:1.2em;
    margin: 15px 10px 55px 5px;
    text-indent: 10px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.337);
    line-height: 1.2;
}
#sobre-mim a{
    text-decoration: none;
    text-align: center;
    margin: 10px;
    
}
#sobre-mim h4{
    background-color: var(--cor02);
    width: 120px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    color: black;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.626);
}
#sobre-mim h4:hover{
    color: var(--cor00);
    background-color: var(--cor03);
}


#projetos{
   /* border: 1px solid black;*/
    width: 100;
    padding-top: 100px;
}
#projetos h1{ 
    
    margin:-95px 0px 50px;
    background-image: linear-gradient(to right, var(--cor03),var(--cor00));
    font-size: 2em;
    padding: 8px;
    color: white;
    text-shadow:  1px 1px 1px black;
    

}
#projetos iframe{
    display: block;
    margin: auto;
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.166);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.526);
    height: 220px;
    height: 250px;
    background:url(../imagens/siteveiculos.jpg)no-repeat  top center;
    background-size: cover;
    border-radius: 5px;
}
#projetos a {
    text-decoration: none;
    text-align: center;
}
#projetos p{
    background-color: var(--cor03);
    color: var(--cor00);
    width: 60%;
    margin: auto;
    margin-top: 12px;
    border-radius: 10px;
    padding: 4px 0px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.764);
    font-family: var(--fonte1);
    font-size: 1.5em;
}
#projetos p:hover{
    background-color: var(--cor04);
}
#contatos{
    background-color: var(--cor01);
    margin-top: 20px;
    padding-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.293);
}
#contatos a {
    text-decoration: none;
     /* Cor do texto */
    display: flex;
    
}

#contatos a img {
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

.redes a,.links a{
    color: black;
    margin: 2px 10px;
    font-weight: bold;
    
}
.redes a:hover{
    color: var(--cor00);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.825);
}
.links a:hover{
    color: var(--cor00);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.825);
    transform: translate(2px,-1px);
    transition: 0.15s linear;
    
}
.links h2,.redes h2{
    
    margin:10px 10px;
    
    font-size:1.7em;
}
.links h2{
    margin-top: 50px;
}

#final{
    background-color: var(--cor04);
    
    padding: 8px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}