.home{
    background-size: cover;
    height: 100vh;
    image-rendering: pixelated;/*dimensionar a imagem sem perder a qualidade*/
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

        
}
.content {
    opacity: 0;
    transform: translateX(-90px); /* Começa fora da tela pela direita */
    transition: opacity 0.6s ease, transform 0.8s ease;
  }
  
  .content.animate {
    opacity: 1;
    transform: translateX(0); /* Volta para o centro */
  }
.name,.lastName{
    color: #fff;
    text-align: center;
    font-family: var(--fontPopins);
    text-shadow: -2px 2px 5px black;
}
.name{
    font-size: 2.5em;
   
}
.lastName{
    font-size: 3rem;
    color: #FD6C4C;
}
.curriculumBtn{
    background-color: #1A2A3D;
    border-radius: 8px;
    border: none;
    padding: 7px;
    font-size: 1.5rem;
    height: 50px;
    width: 80%;
    max-width: 290px;
    cursor: pointer;
    opacity: 0;
    transform: translateX(90px); /* Começa fora da tela pela esquerda */
    transition: opacity 0.6s ease, transform 0.8s ease;
    &>a{
        text-decoration: none;
        color: #fff;

    }
    &:hover{
        background-color: #02030C;
        transition: .5s ease;
    }
}
.curriculumBtn.animate {
    opacity: 1;
    transform: translateX(0); /* Volta para o centro */
}
/*Versão para tablets*/
@media screen and (max-width:885px) and (min-width:481px){
    .home{
        justify-content: space-around;
    }
    .name{
        font-size: 2.8em;
       
    }
    .lastName{
        font-size: 3.2em;
    }
    .curriculumBtn{
        max-width: 300px;
        font-size: 1.5rem;
        padding: 15px 10px;
        &:hover{
            background-color: #1A2A3D;
            transition: none;
        }

        &:active{
            background-color: #02030C;
        }
    }
}

/*Versão para dispositivos móveis*/
@media screen and (max-width: 481px){
    .home{
        background-size: cover;
        padding: 100px 0;
    }
    .name{
        font-size: 2rem;
       
    }
    .lastName{
        font-size: 2.5rem;
        line-height: 50px;
        color: #FD6C4C;
    }
    .curriculumBtn{
        padding:14px 7px;
        font-size: 1.2rem;
        width: 90%;

        &:hover{
            background-color: #1A2A3D;
            transition: none;
        }

        &:active{
            background-color: #02030C;
        }
    }
}