*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  height: 100vh;
}
body,html,.App{
  background-color: #000A23;
  scroll-behavior: smooth;
}
/* Estiliza a barra de rolagem */
::-webkit-scrollbar {
  width: 0px; /* Largura da barra de rolagem */
}
