.AboutMe{
    display: flex;
    height: 100vh;
    background:linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.178), rgba(7, 7, 7, 0),rgba(7, 7, 7, 0)),linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.236),rgb(0, 0, 0)), url('../../../public/img/backgroundDarkBlue.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;

    &>article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
.textContainer{
    width: 90%;
    max-width: 800px;
}

.title,.text{
    font-family: var(--fontPopins);
    color: #fff;
    text-align: justify;
}
.title,.skillsContainer > h1{
    font-size: 2em;
}
.skillsContainer{
    width: 100%;
    gap: 20px;
}
.skillsContainer > h1,.skills{
    font-family: var(--fontPopins);
    color: #fff;
    text-align: justify;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 1000px;
    gap: 25px;
}
.skillsIcon{
    cursor: pointer;
    font-size: 45px;
    transition: all .3s ease;
    &:hover{
        transform: scale(1.50);
    }
}
.reactIcon{
    &:hover{
        color: #58D0EE;
    }
}
.cssIcon{
    &:hover{
        color: #2D53E5;
    }
}
.htmlIcon{
    &:hover{
        color: #FC4F13;
    }
}
.jsIcon{
    &:hover{
        color: #F7E025;
    }
}
.nodeIcon{
    &:hover{
        color: #8FC708;
    }
}
.twIcon{
    &:hover{
        color: #3EBFF8;
    }
}
.sqlIcon{
    &:hover{
        color: #08628E;
    }
}
.axiosIcon{
    &:hover{
        color: #5F30E5;
    }
}
.sassIcon{
    &:hover{
        color: #CF6C9C;
    }
}
.gitIcon{
    &:hover{
        color: #F15538;
    }
}